In [1]:
from greensight.utils import DIR_DATA
import pandas as pd
import numpy as np
import json

In [2]:
# config
green_belt = "Merseyside and Greater Manchester"

In [3]:
# load DataFrame
s1_path = DIR_DATA / "processed_data/sentinel_one_df.hdf"

s1_data = pd.read_hdf(s1_path, key="df")
s1_data.head(5)

greenbelt  Merseyside and Greater Manchester                                   \
shape                              E06000006
band                                   VHAsc      VHDes      VVAsc      VVDes
2016-01-01                        -21.880295 -16.991904 -15.775903  -9.790099
2016-02-01                        -23.155242 -17.578793 -16.930790  -9.725071
2016-03-01                        -23.382046 -18.103710 -17.087475 -10.531700
2016-04-01                        -24.581625 -17.473175 -19.243807 -10.768544
2016-05-01                        -23.044508 -18.529830 -18.120999 -12.751782

greenbelt                                                                     \
shape       E06000007                                   E06000008
band            VHAsc      VHDes      VVAsc      VVDes      VHAsc      VHDes
2016-01-01 -16.071707 -16.330632  -9.220326  -9.751699 -16.652340 -16.737056
2016-02-01 -16.492496 -16.878869  -9.339440  -9.714068 -16.769975 -16.911006
2016-03-01 -16.863572 -17.473715  -9.546583 -10.452768 -17.058511 -18.111202
2016-04-01 -16.929850 -16.801029 -10.216895 -10.500869 -17.323229 -17.503710
2016-05-01 -17.919154 -17.971877 -12.141177 -12.285496 -18.045142 -18.141680

greenbelt   ...    London                                              \
shape       ... E09000027             E09000029
band        ...     VVAsc      VVDes      VHAsc      VHDes      VVAsc
2016-01-01  ... -8.756936 -10.676782 -16.771370 -17.255673 -10.597951
2016-02-01  ... -8.943721 -11.705665 -17.185180 -17.619796 -10.872856
2016-03-01  ... -9.011251 -11.404164 -17.095400 -17.859541 -10.820224
2016-04-01  ... -9.391430 -11.195927 -17.181280 -17.307712 -11.139923
2016-05-01  ... -9.288337 -11.733921 -17.733808 -18.182160 -11.964601

greenbelt
shape                  E09000031
band            VVDes      VHAsc      VHDes      VVAsc      VVDes
2016-01-01 -11.723700 -16.742193 -17.174760 -10.834776 -11.552687
2016-02-01 -11.681797 -16.307043 -17.452870 -10.085572 -11.418674
2016-03-01 -12.022884 -16.547483 -17.510375 -10.391498 -11.840899
2016-04-01 -11.771096 -16.631947 -17.335087 -10.686377 -11.707105
2016-05-01 -12.637640 -17.542597 -18.446995 -11.333272 -12.681095

[5 rows x 720 columns]

In [4]:
# load weights DataFrame
weights_path = DIR_DATA / "processed_data/sentinel_one_weights.hdf"

df_weights = pd.read_hdf(weights_path, key="df")
df_weights.head(5)

greenbelt  Merseyside and Greater Manchester                                \
shape                              E06000006
band                                   VHAsc     VHDes     VVAsc     VVDes
2016-01-01                          0.009691  0.009691  0.009691  0.009691
2016-02-01                          0.009691  0.009691  0.009691  0.009691
2016-03-01                          0.009691  0.009691  0.009691  0.009691
2016-04-01                          0.009691  0.009691  0.009691  0.009691
2016-05-01                          0.009691  0.009691  0.009691  0.009691

greenbelt                                                               ...  \
shape      E06000007                               E06000008            ...
band           VHAsc     VHDes     VVAsc     VVDes     VHAsc     VHDes  ...
2016-01-01  0.053096  0.053096  0.053096  0.053096  0.024632  0.024632  ...
2016-02-01  0.053096  0.053096  0.053096  0.053096  0.024632  0.024632  ...
2016-03-01  0.053096  0.053096  0.053096  0.053096  0.024632  0.024632  ...
2016-04-01  0.053096  0.053096  0.053096  0.053096  0.024632  0.024632  ...
2016-05-01  0.053096  0.053096  0.053096  0.053096  0.024632  0.024632  ...

greenbelt     London                                                    \
shape      E09000027           E09000029
band           VVAsc     VVDes     VHAsc     VHDes     VVAsc     VVDes
2016-01-01  0.000264  0.000264  0.001188  0.001188  0.001188  0.001188
2016-02-01  0.000264  0.000264  0.001188  0.001188  0.001188  0.001188
2016-03-01  0.000264  0.000264  0.001188  0.001188  0.001188  0.001188
2016-04-01  0.000264  0.000264  0.001188  0.001188  0.001188  0.001188
2016-05-01  0.000264  0.000264  0.001188  0.001188  0.001188  0.001188

greenbelt
shape      E09000031
band           VHAsc     VHDes     VVAsc     VVDes
2016-01-01  0.001653  0.001653  0.001653  0.001653
2016-02-01  0.001653  0.001653  0.001653  0.001653
2016-03-01  0.001653  0.001653  0.001653  0.001653
2016-04-01  0.001653  0.001653  0.001653  0.001653
2016-05-01  0.001653  0.001653  0.001653  0.001653

[5 rows x 720 columns]

In [5]:
# combine
s1_combined = s1_data*df_weights
s1_combined = s1_combined.groupby(level=["greenbelt", "shape"], axis=1).sum()
s1_combined.head(5)

/tmp/ipykernel_63179/3337414840.py:3: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  s1_combined = s1_combined.groupby(level=["greenbelt", "shape"], axis=1).sum()

greenbelt  Bath and Bristol                                            \
shape             E06000022 E06000023  E06000024  E06000025 E06000054
2016-01-01       -18.932708 -0.435777 -11.604285 -17.633859 -5.240215
2016-02-01       -18.997761 -0.438793 -11.673717 -17.692687 -5.335843
2016-03-01       -19.399518 -0.446372 -11.869913 -17.984330 -5.364146
2016-04-01       -20.313768 -0.458464 -12.343781 -18.777837 -5.555318
2016-05-01       -21.663427 -0.510461 -14.185776 -21.087478 -5.895071

greenbelt            Birmingham                                ...  \
shape      E07000187  E06000051 E07000192 E07000194 E07000196  ...
2016-01-01 -0.637206  -5.713816 -1.096023 -3.694275 -7.497592  ...
2016-02-01 -0.642191  -5.789799 -1.107547 -3.880097 -7.661503  ...
2016-03-01 -0.658412  -6.055469 -1.142916 -3.922204 -7.957250  ...
2016-04-01 -0.677703  -6.042301 -1.131492 -3.903837 -7.988020  ...
2016-05-01 -0.729162  -7.372527 -1.178444 -4.226995 -9.339836  ...

greenbelt  Tyne and Wear                                               York  \
shape          E08000021 E08000022 E08000023 E08000024 E08000037  E06000014
2016-01-01     -2.204148 -0.907707 -1.321884 -1.734081 -4.518591 -49.433521
2016-02-01     -2.237700 -0.925427 -1.496908 -1.796839 -4.583601 -59.580570
2016-03-01     -2.342349 -0.976044 -1.460930 -1.871165 -4.768580 -54.169693
2016-04-01     -2.332493 -0.978945 -1.523964 -1.851031 -4.688890 -56.703636
2016-05-01     -2.495436 -1.060618 -1.944338 -2.367867 -5.061294 -61.212229

greenbelt
shape      E07000164 E07000165 E07000167 E07000169
2016-01-01 -2.875929 -2.618293 -2.172789 -3.392779
2016-02-01 -2.977484 -2.694644 -2.965246 -3.562153
2016-03-01 -3.090917 -2.756289 -2.532831 -3.646446
2016-04-01 -3.151436 -2.814840 -2.684606 -3.722328
2016-05-01 -3.365248 -3.025191 -2.979441 -4.058309

[5 rows x 180 columns]

In [18]:
# load JULES data
path_soil = DIR_DATA / "processed_data/jules_soil.hdf"
path_veg = DIR_DATA / "processed_data/jules_veg.hdf"

In [19]:
from datetime import datetime

In [20]:
jules_soil = pd.read_hdf(path_soil, key="df")
# jules_soil.index = jules_soil.index.map(lambda x: datetime.strptime(str(x), "%y%M%d").date())
jules_soil.head(5)

,Bath and Bristol,Birmingham,Blackpool,Burton upon Trent and Swadlincote,Cambridge,Carnforth Lancaster and Morecambe,Cheltenham and Gloucester,Derby and Nottingham,London,Merseyside and Greater Manchester,Oxford,South West Hampshire,South and West Yorkshire,Stoke on Trent,Tyne and Wear,York
date,,,,,,,,,,,,,,,,
719164,21.377278,18.247952,9.128355,16.191114,17.290410,8.776074,17.566530,18.697467,21.809056,13.982956,22.056664,18.794014,17.213288,19.379328,17.951353,16.958119
719165,21.376281,18.247033,9.127896,16.190207,17.289599,8.775647,17.565801,18.696422,21.808157,13.982309,22.055550,18.793039,17.212433,19.378410,17.950424,16.957254
719166,21.375373,18.246093,9.127416,16.189249,17.288805,8.775220,17.565089,18.695352,21.807337,13.981649,22.054508,18.792190,17.211585,19.377469,17.949498,16.956414
719167,21.374386,18.245097,9.126928,16.188261,17.287912,8.774777,17.564296,18.694241,21.806393,13.980960,22.053376,18.791255,17.210724,19.376480,17.948648,16.955585
719168,21.373674,18.244349,9.126500,16.187513,17.287249,8.774369,17.563587,18.693422,21.805819,13.980355,22.052553,18.790466,17.210052,19.375642,17.948066,16.954877

In [15]:
jules_soil.index.max()
jules_soil.index.max()

np.int32(738886)

In [ ]:
jules_soil = pd.read_hdf(path_soil, key="df")
jules_soil.head(5)