In [1]:
from greensight.utils import DIR_DATA
import pandas as pd

In [2]:
# load DataFrame
s1_path = DIR_DATA / "processed_data/sentinel_one_df.hdf"

s1_data = pd.read_hdf(s1_path, key="df")
s1_data.head(5)

greenbelt  Merseyside and Greater Manchester                                   \
shape                              E06000006
band                                   VHAsc      VHDes      VVAsc      VVDes
2016-01-01                        -21.880295 -16.991904 -15.775903  -9.790099
2016-02-01                        -23.155242 -17.578793 -16.930790  -9.725071
2016-03-01                        -23.382046 -18.103710 -17.087475 -10.531700
2016-04-01                        -24.581625 -17.473175 -19.243807 -10.768544
2016-05-01                        -23.044508 -18.529830 -18.120999 -12.751782

greenbelt                                                                     \
shape       E06000007                                   E06000008
band            VHAsc      VHDes      VVAsc      VVDes      VHAsc      VHDes
2016-01-01 -16.071707 -16.330632  -9.220326  -9.751699 -16.652340 -16.737056
2016-02-01 -16.492496 -16.878869  -9.339440  -9.714068 -16.769975 -16.911006
2016-03-01 -16.863572 -17.473715  -9.546583 -10.452768 -17.058511 -18.111202
2016-04-01 -16.929850 -16.801029 -10.216895 -10.500869 -17.323229 -17.503710
2016-05-01 -17.919154 -17.971877 -12.141177 -12.285496 -18.045142 -18.141680

greenbelt   ...    London                                              \
shape       ... E09000027             E09000029
band        ...     VVAsc      VVDes      VHAsc      VHDes      VVAsc
2016-01-01  ... -8.756936 -10.676782 -16.771370 -17.255673 -10.597951
2016-02-01  ... -8.943721 -11.705665 -17.185180 -17.619796 -10.872856
2016-03-01  ... -9.011251 -11.404164 -17.095400 -17.859541 -10.820224
2016-04-01  ... -9.391430 -11.195927 -17.181280 -17.307712 -11.139923
2016-05-01  ... -9.288337 -11.733921 -17.733808 -18.182160 -11.964601

greenbelt
shape                  E09000031
band            VVDes      VHAsc      VHDes      VVAsc      VVDes
2016-01-01 -11.723700 -16.742193 -17.174760 -10.834776 -11.552687
2016-02-01 -11.681797 -16.307043 -17.452870 -10.085572 -11.418674
2016-03-01 -12.022884 -16.547483 -17.510375 -10.391498 -11.840899
2016-04-01 -11.771096 -16.631947 -17.335087 -10.686377 -11.707105
2016-05-01 -12.637640 -17.542597 -18.446995 -11.333272 -12.681095

[5 rows x 720 columns]

In [3]:
# load weights DataFrame
weights_path = DIR_DATA / "processed_data/sentinel_one_weights.hdf"

df_weights = pd.read_hdf(weights_path, key="df")
df_weights.head(5)

greenbelt  Merseyside and Greater Manchester                                \
shape                              E06000006
band                                   VHAsc     VHDes     VVAsc     VVDes
2016-01-01                          0.009691  0.009691  0.009691  0.009691
2016-02-01                          0.009691  0.009691  0.009691  0.009691
2016-03-01                          0.009691  0.009691  0.009691  0.009691
2016-04-01                          0.009691  0.009691  0.009691  0.009691
2016-05-01                          0.009691  0.009691  0.009691  0.009691

greenbelt                                                               ...  \
shape      E06000007                               E06000008            ...
band           VHAsc     VHDes     VVAsc     VVDes     VHAsc     VHDes  ...
2016-01-01  0.053096  0.053096  0.053096  0.053096  0.024632  0.024632  ...
2016-02-01  0.053096  0.053096  0.053096  0.053096  0.024632  0.024632  ...
2016-03-01  0.053096  0.053096  0.053096  0.053096  0.024632  0.024632  ...
2016-04-01  0.053096  0.053096  0.053096  0.053096  0.024632  0.024632  ...
2016-05-01  0.053096  0.053096  0.053096  0.053096  0.024632  0.024632  ...

greenbelt     London                                                    \
shape      E09000027           E09000029
band           VVAsc     VVDes     VHAsc     VHDes     VVAsc     VVDes
2016-01-01  0.000264  0.000264  0.001188  0.001188  0.001188  0.001188
2016-02-01  0.000264  0.000264  0.001188  0.001188  0.001188  0.001188
2016-03-01  0.000264  0.000264  0.001188  0.001188  0.001188  0.001188
2016-04-01  0.000264  0.000264  0.001188  0.001188  0.001188  0.001188
2016-05-01  0.000264  0.000264  0.001188  0.001188  0.001188  0.001188

greenbelt
shape      E09000031
band           VHAsc     VHDes     VVAsc     VVDes
2016-01-01  0.001653  0.001653  0.001653  0.001653
2016-02-01  0.001653  0.001653  0.001653  0.001653
2016-03-01  0.001653  0.001653  0.001653  0.001653
2016-04-01  0.001653  0.001653  0.001653  0.001653
2016-05-01  0.001653  0.001653  0.001653  0.001653

[5 rows x 720 columns]

In [4]:
# weights df shape must equal data shape
assert df_weights.shape == s1_data.shape

In [5]:
# combine
s1_combined = s1_data*df_weights
s1_combined = s1_combined.groupby(level=["greenbelt", "band"], axis=1).sum()
s1_combined.columns = pd.MultiIndex.from_tuples([(i[0].replace("-", " ").replace(",", ""), i[1]) for i in s1_combined.columns])
s1_combined.columns.names = ["greenbelt", "band"]
s1_combined.head(5)

/tmp/ipykernel_103862/1303331125.py:3: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  s1_combined = s1_combined.groupby(level=["greenbelt", "band"], axis=1).sum()

greenbelt  Bath and Bristol                                  Birmingham  \
band                  VHAsc      VHDes      VVAsc      VVDes      VHAsc
2016-01-01       -16.733175 -16.754733 -10.486643 -10.509499 -16.396578
2016-02-01       -17.161823 -16.413510 -10.859023 -10.346636 -16.698854
2016-03-01       -17.129486 -17.055261 -10.753075 -10.784869 -17.272145
2016-04-01       -17.229244 -17.733898 -11.471144 -11.692585 -16.868347
2016-05-01       -17.807955 -19.625690 -12.296638 -14.341092 -18.095525

greenbelt                                    Blackpool             ...  \
band            VHDes      VVAsc      VVDes      VHAsc      VHDes  ...
2016-01-01 -16.594125  -9.760255 -10.153038 -25.215555 -17.525761  ...
2016-02-01 -17.373598  -9.857857 -10.592963 -26.851769 -17.878718  ...
2016-03-01 -17.537473 -10.262804 -10.833394 -26.959264 -18.368126  ...
2016-04-01 -17.510366 -10.538851 -11.320926 -29.127227 -18.307848  ...
2016-05-01 -18.818340 -12.516961 -13.322134 -25.539716 -18.825193  ...

greenbelt  Stoke on Trent            Tyne and Wear                        \
band                VVAsc      VVDes         VHAsc      VHDes      VVAsc
2016-01-01     -10.117608 -10.312025    -17.173963 -17.287690 -10.386117
2016-02-01     -10.056902 -10.089613    -17.696011 -17.237174 -10.842463
2016-03-01     -10.203673 -10.699797    -18.051715 -18.418969 -11.118283
2016-04-01     -10.783270 -11.038344    -17.966978 -17.678947 -11.647092
2016-05-01     -12.234331 -14.362004    -18.863148 -18.553498 -13.531375

greenbelt                   York
band            VVDes      VHAsc      VHDes      VVAsc      VVDes
2016-01-01 -10.202752 -19.669240 -17.372143 -13.340954 -10.110974
2016-02-01 -10.082764 -23.956125 -18.290232 -18.802526 -10.731214
2016-03-01 -11.131899 -21.782712 -18.057898 -15.766225 -10.589340
2016-04-01 -11.250982 -22.797279 -17.954725 -17.203952 -11.120891
2016-05-01 -13.162039 -24.500349 -17.940405 -20.327269 -11.872395

[5 rows x 64 columns]

In [6]:
# load JULES data
path_soil = DIR_DATA / "processed_data/jules_soil.hdf"
path_veg = DIR_DATA / "processed_data/jules_veg.hdf"

In [7]:
jules_soil = pd.read_hdf(path_soil, key="df")
jules_soil = jules_soil.shift(-14, freq='d')
jules_soil = jules_soil.resample("MS").mean()
jules_soil.columns.name = "greenbelt"
jules_soil.columns = [i.replace("-", " ").replace(",", "") for i in jules_soil.columns]

jules_soil.head(5)

,Bath and Bristol,Birmingham,Blackpool,Burton upon Trent and Swadlincote,Cambridge,Carnforth Lancaster and Morecambe,Cheltenham and Gloucester,Derby and Nottingham,London,Merseyside and Greater Manchester,Oxford,South West Hampshire,South and West Yorkshire,Stoke on Trent,Tyne and Wear,York
date,,,,,,,,,,,,,,,,
1969-12-01,21.373026,18.243503,9.125721,16.187056,17.286505,8.773883,17.562451,18.692700,21.805095,13.979460,22.051959,18.788815,17.209175,19.374673,17.947058,16.953580
1970-01-01,21.345926,18.220939,9.114794,16.166756,17.264383,8.764003,17.543629,18.668886,21.777154,13.963802,22.023528,18.761677,17.189929,19.353226,17.927415,16.932327
1970-02-01,21.314112,18.195200,9.102999,16.143449,17.239028,8.752971,17.523156,18.642537,21.743292,13.946483,21.990037,18.732395,17.168985,19.328855,17.906193,16.910053
1970-03-01,21.289114,18.174525,9.095391,16.123866,17.219151,8.744861,17.507880,18.621447,21.718023,13.934305,21.963061,18.715890,17.153074,19.308940,17.887433,16.895106
1970-04-01,21.278212,18.162482,9.094780,16.110982,17.209293,8.742695,17.501987,18.606645,21.704294,13.930647,21.947153,18.718764,17.143928,19.297347,17.876483,16.888017

In [8]:
jules_veg = pd.read_hdf(path_veg, key="df")
jules_veg = jules_veg.shift(-14, freq='d')
jules_veg = jules_veg.resample("MS").mean()
jules_veg.columns.name = "greenbelt"
jules_veg.columns = [i.replace("-", " ").replace(",", "") for i in jules_veg.columns]
jules_veg

,Bath and Bristol,Birmingham,Blackpool,Burton upon Trent and Swadlincote,Cambridge,Carnforth Lancaster and Morecambe,Cheltenham and Gloucester,Derby and Nottingham,London,Merseyside and Greater Manchester,Oxford,South West Hampshire,South and West Yorkshire,Stoke on Trent,Tyne and Wear,York
date,,,,,,,,,,,,,,,,
1969-12-01,0.844402,0.834028,0.255732,0.751496,0.416861,0.415594,0.488441,0.853038,1.256022,0.708880,0.633261,1.594160,0.838362,0.805957,1.060267,0.604399
1970-01-01,0.838232,0.827942,0.251408,0.745962,0.411919,0.411990,0.483357,0.847265,1.249723,0.703417,0.627624,1.585922,0.832813,0.799748,1.054808,0.598689
1970-02-01,0.832786,0.823049,0.247510,0.741632,0.407109,0.408259,0.478842,0.842513,1.244636,0.698223,0.623100,1.579654,0.827253,0.794083,1.048936,0.593341
1970-03-01,0.832390,0.822603,0.247884,0.741353,0.406570,0.408184,0.478637,0.842298,1.243581,0.697502,0.623209,1.579522,0.826288,0.793288,1.047986,0.593540
1970-04-01,0.838052,0.828848,0.254155,0.746689,0.415443,0.412407,0.485808,0.849019,1.247364,0.703253,0.630978,1.585466,0.832021,0.799742,1.052869,0.601859
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,0.910297,0.887929,0.281390,0.796253,0.452016,0.433768,0.527373,0.911685,1.332412,0.748117,0.698220,1.661842,0.889839,0.876897,1.127582,0.646580
2023-09-01,0.913536,0.890152,0.279956,0.798696,0.450398,0.434159,0.527350,0.913575,1.337159,0.749661,0.698874,1.665253,0.892848,0.879409,1.131363,0.647403
2023-10-01,0.910317,0.884959,0.275506,0.793869,0.445829,0.429673,0.523032,0.906884,1.333886,0.743041,0.694902,1.663062,0.884059,0.872199,1.121353,0.639760
2023-11-01,0.895839,0.869517,0.267965,0.779744,0.435452,0.420569,0.512043,0.892187,1.316090,0.729064,0.681908,1.652108,0.867483,0.854847,1.102444,0.625632
2023-12-01,0.882823,0.858976,0.260896,0.770668,0.426658,0.413118,0.502982,0.883119,1.300866,0.719371,0.670744,1.638969,0.858099,0.844905,1.092170,0.616570

In [9]:
jules_soil.columns = pd.MultiIndex.from_product([jules_soil.columns, ["soil"]], names=["greenbelt", "band"])
jules_soil.head(5)

greenbelt,Bath and Bristol,Birmingham,Blackpool,Burton upon Trent and Swadlincote,Cambridge,Carnforth Lancaster and Morecambe,Cheltenham and Gloucester,Derby and Nottingham,London,Merseyside and Greater Manchester,Oxford,South West Hampshire,South and West Yorkshire,Stoke on Trent,Tyne and Wear,York
band,soil,soil,soil,soil,soil,soil,soil,soil,soil,soil,soil,soil,soil,soil,soil,soil
date,,,,,,,,,,,,,,,,
1969-12-01,21.373026,18.243503,9.125721,16.187056,17.286505,8.773883,17.562451,18.692700,21.805095,13.979460,22.051959,18.788815,17.209175,19.374673,17.947058,16.953580
1970-01-01,21.345926,18.220939,9.114794,16.166756,17.264383,8.764003,17.543629,18.668886,21.777154,13.963802,22.023528,18.761677,17.189929,19.353226,17.927415,16.932327
1970-02-01,21.314112,18.195200,9.102999,16.143449,17.239028,8.752971,17.523156,18.642537,21.743292,13.946483,21.990037,18.732395,17.168985,19.328855,17.906193,16.910053
1970-03-01,21.289114,18.174525,9.095391,16.123866,17.219151,8.744861,17.507880,18.621447,21.718023,13.934305,21.963061,18.715890,17.153074,19.308940,17.887433,16.895106
1970-04-01,21.278212,18.162482,9.094780,16.110982,17.209293,8.742695,17.501987,18.606645,21.704294,13.930647,21.947153,18.718764,17.143928,19.297347,17.876483,16.888017

In [10]:

jules_veg.columns = pd.MultiIndex.from_product([jules_veg.columns, ["vegetation"]], names=["greenbelt", "band"])
jules_veg.head(5)

greenbelt,Bath and Bristol,Birmingham,Blackpool,Burton upon Trent and Swadlincote,Cambridge,Carnforth Lancaster and Morecambe,Cheltenham and Gloucester,Derby and Nottingham,London,Merseyside and Greater Manchester,Oxford,South West Hampshire,South and West Yorkshire,Stoke on Trent,Tyne and Wear,York
band,vegetation,vegetation,vegetation,vegetation,vegetation,vegetation,vegetation,vegetation,vegetation,vegetation,vegetation,vegetation,vegetation,vegetation,vegetation,vegetation
date,,,,,,,,,,,,,,,,
1969-12-01,0.844402,0.834028,0.255732,0.751496,0.416861,0.415594,0.488441,0.853038,1.256022,0.708880,0.633261,1.594160,0.838362,0.805957,1.060267,0.604399
1970-01-01,0.838232,0.827942,0.251408,0.745962,0.411919,0.411990,0.483357,0.847265,1.249723,0.703417,0.627624,1.585922,0.832813,0.799748,1.054808,0.598689
1970-02-01,0.832786,0.823049,0.247510,0.741632,0.407109,0.408259,0.478842,0.842513,1.244636,0.698223,0.623100,1.579654,0.827253,0.794083,1.048936,0.593341
1970-03-01,0.832390,0.822603,0.247884,0.741353,0.406570,0.408184,0.478637,0.842298,1.243581,0.697502,0.623209,1.579522,0.826288,0.793288,1.047986,0.593540
1970-04-01,0.838052,0.828848,0.254155,0.746689,0.415443,0.412407,0.485808,0.849019,1.247364,0.703253,0.630978,1.585466,0.832021,0.799742,1.052869,0.601859

In [11]:
print(jules_soil.shape)
print(jules_veg.shape)
print(s1_combined.shape)

(649, 16)
(649, 16)
(105, 64)

In [12]:
print(max(s1_combined.index))
print(max(jules_soil.index))
print(max(jules_veg.index))
expected_rows = s1_combined.shape[0] - (max(s1_combined.index).month - max(jules_soil.index).month)

expected_rows

2024-09-01 00:00:00
2023-12-01 00:00:00
2023-12-01 00:00:00

108

In [13]:
expected_cols = s1_combined.shape[1] + jules_soil.shape[1] + jules_veg.shape[1]
expected_cols

96

In [14]:
df_all = pd.concat([jules_soil, jules_veg, s1_combined], axis=1, join="inner")
df_all = df_all.groupby(level=0, axis=1).apply(
    lambda df: df.droplevel(0, axis=1).T.drop_duplicates().T
)
print(df_all.shape)

/tmp/ipykernel_103862/2171523277.py:2: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_all = df_all.groupby(level=0, axis=1).apply(

(96, 96)

In [15]:
path_out = DIR_DATA / "processed_data/sentinel_one_all.hdf"
df_all.to_hdf(path_out, key="df", mode="w", format="table")

In [16]:
df_all_r = pd.read_hdf(path_out, key="df")

In [17]:
df_all_r.head()

greenbelt  Bath and Bristol                                              \
band                   soil vegetation      VHAsc      VHDes      VVAsc
2016-01-01        20.525091   0.867781 -16.733175 -16.754733 -10.486643
2016-02-01        20.496801   0.860687 -17.161823 -16.413510 -10.859023
2016-03-01        20.476539   0.862426 -17.129486 -17.055261 -10.753075
2016-04-01        20.472668   0.869982 -17.229244 -17.733898 -11.471144
2016-05-01        20.499372   0.882681 -17.807955 -19.625690 -12.296638

greenbelt             Birmingham                                   ...  \
band            VVDes       soil vegetation      VHAsc      VHDes  ...
2016-01-01 -10.509499  17.763369   0.834798 -16.396578 -16.594125  ...
2016-02-01 -10.346636  17.736985   0.828830 -16.698854 -17.373598  ...
2016-03-01 -10.784869  17.718095   0.830637 -17.272145 -17.537473  ...
2016-04-01 -11.692585  17.712289   0.839257 -16.868347 -17.510366  ...
2016-05-01 -14.341092  17.739116   0.850033 -18.095525 -18.818340  ...

greenbelt  Tyne and Wear                                        York  \
band               VHAsc      VHDes      VVAsc      VVDes       soil
2016-01-01    -17.173963 -17.287690 -10.386117 -10.202752  16.702170
2016-02-01    -17.696011 -17.237174 -10.842463 -10.082764  16.679278
2016-03-01    -18.051715 -18.418969 -11.118283 -11.131899  16.663493
2016-04-01    -17.966978 -17.678947 -11.647092 -11.250982  16.661373
2016-05-01    -18.863148 -18.553498 -13.531375 -13.162039  16.687723

greenbelt
band       vegetation      VHAsc      VHDes      VVAsc      VVDes
2016-01-01   0.596917 -19.669240 -17.372143 -13.340954 -10.110974
2016-02-01   0.591734 -23.956125 -18.290232 -18.802526 -10.731214
2016-03-01   0.594246 -21.782712 -18.057898 -15.766225 -10.589340
2016-04-01   0.603752 -22.797279 -17.954725 -17.203952 -11.120891
2016-05-01   0.616954 -24.500349 -17.940405 -20.327269 -11.872395

[5 rows x 96 columns]

In [18]:
set([i[0] for i in s1_combined.columns])

{'Bath and Bristol',
 'Birmingham',
 'Blackpool',
 'Burton upon Trent and Swadlincote',
 'Cambridge',
 'Carnforth Lancaster and Morecambe',
 'Cheltenham and Gloucester',
 'Derby and Nottingham',
 'London',
 'Merseyside and Greater Manchester',
 'Oxford',
 'South West Hampshire',
 'South and West Yorkshire',
 'Stoke on Trent',
 'Tyne and Wear',
 'York'}

In [19]:
set([i[0] for i in jules_soil.columns])

{'Bath and Bristol',
 'Birmingham',
 'Blackpool',
 'Burton upon Trent and Swadlincote',
 'Cambridge',
 'Carnforth Lancaster and Morecambe',
 'Cheltenham and Gloucester',
 'Derby and Nottingham',
 'London',
 'Merseyside and Greater Manchester',
 'Oxford',
 'South West Hampshire',
 'South and West Yorkshire',
 'Stoke on Trent',
 'Tyne and Wear',
 'York'}

In [20]:
set([i[0] for i in jules_veg.columns])

{'Bath and Bristol',
 'Birmingham',
 'Blackpool',
 'Burton upon Trent and Swadlincote',
 'Cambridge',
 'Carnforth Lancaster and Morecambe',
 'Cheltenham and Gloucester',
 'Derby and Nottingham',
 'London',
 'Merseyside and Greater Manchester',
 'Oxford',
 'South West Hampshire',
 'South and West Yorkshire',
 'Stoke on Trent',
 'Tyne and Wear',
 'York'}